<div class="customMainContent" >
    <h1 class="page-header">List of Items</h1>

    <div class="table-responsive">
      <form class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchName">
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cost Price</th>
                    <th>Selling Price</th>
                    <th>Stock Qty</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="data in mydata |filter:searchName">
                    <td>{{data.item_code}}</td>
                    <td>{{data.item_name}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.cost_price}}</td>
                    <td ng-if="Role != 'manager'">
                        {{data.selling_price}}
                    </td>
                    <td ng-if="Role == 'manager'">
                        <input id="txtPrice" name="txtPrice" required="" type="number" step="0.01" min="0" tabindex="1" class="form-control" ng-model="data.selling_price" ng-init="price=data.selling_price" size = "1" />
                    </td>   
                    <td ng-if="Role != 'stock_manager'">
                        {{data.qty}}
                    </td>   
                    <td ng-if="Role == 'stock_manager'">
                        <input id="txtQty" name="txtQty" required="" type="number" min="0"  tabindex="1" class="form-control" ng-model="data.qty" ng-init="qty=data.qty" size = "1" />
                    </td>     
                    <td ng-if="Role == 'stock_manager'"><a href=""/><button ng-click="updatingItemQty(data.item_code, data.qty)">Update</button></td>
                    <td ng-if="Role == 'manager'"><a href=""/><button ng-click="updatingItemPrice(data.item_code, data.selling_price)">Update</button></td>
                    <td ng-if="Role == 'stock_manager'"><a href=""/><button ng-click="deletingItem(data)">Delete</button></a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>