<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
        </button>
        <a style="color:greenyellow" class="navbar-brand" href="#">Supermarket Automation System</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="valid" style="color:greenyellow" class="navbar-brand">{{message}}</li>
            <li ng-show="valid"><a href="#/Logout">Logout</a></li>
            <li ng-hide="valid"><a href="#/Login">Login</a></li>
        </ul>
    </div>
</div>
